.container {
  margin: auto;
  padding: 16px;
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.border {
  border: 1px solid #e2e8f0;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bg-blue-500 {
  background-color: #1a365d;
  color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.bg-red-500 {
  background-color: #e53e3e;
}

.hover\:bg-red-700:hover {
  background-color: #c53030;
}

.rounded {
  border-radius: 0.25rem;
}

.mt-4 {
  margin-top: 1rem;
}

.disabled\:bg-gray-300:disabled {
  background-color: #e2e8f0;
}

.container {
  max-width: 100%;
}

.mt-2 {
  margin-top: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.bg-red-500:hover {
  background-color: #c53030;
}

.checked-all{
  width: fit-content;
}

.save{
  background-color:darkseagreen;
  padding: 5px;
  margin-right: 5px;
}

.cancel{
  background-color: red;
  padding: 5px;
}

.actions{
  display: flex;
  justify-content: space-around;
  border: 1px solid #e2e8f0;
  padding: 10px 15px;
}

.delete{
  background-color: red;
  padding: 5px;
}

.edit{
  background-color:aqua;
  padding: 5px;
  margin-right: 5px;
}

.row-item{
  border: 1px solid #e2e8f0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.row-selected{
  border: 1px solid #e2e8f0;
  background-color: #e2e8f0;
}

.row-not-selected{
  border: 1px solid #e2e8f0;
}

.pagination{
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}  

.pagination-disabled{
  background-color: #e2e8f0;
}

.pagination-enabled{
  background-color: #1a365d;
  color: #ffffff;
}

.first-page,.last-page, .next-page, .previous-page{
  background-color: #e2e8f0;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.main-container{
  margin: auto;
  padding: 16px;
  padding-top: 0px;
  margin-top: 0px;
  width: max-content;
}
 
.search-box{
  border-radius: 0.25rem;
  border: 1px solid #e2e8f0;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.delete-selected{
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
  background-color: #e53e3e;
  margin-top: 0.5rem;
}

h1{
  margin-top: 0px;
}